.DS_Store
.venv

# Packages
*.py[cod]
*.egg
*.egg-info
.eggs/
dist
build
eggs
sdist

# Unit test / coverage reports
.coverage
.tox

# pbr generates these
AUTHORS
ChangeLog

# Editors
*~
.*.swp
.bak

doc/build/
doc/source/dashboards
